@inject UniversityMessagingSystem.Data.dbContext _context
@model UniversityMessagingSystem.Entities.User
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var messages = _context.messages.Where(i => i.toEmail == Model.Email).ToList();
    
}
<div class="row">
    <div class="col-md-3" style="background-color: aqua">
        

            @if(Model != null)
            {
                <input type="hidden" name="fromEmail" value="@Model.Email" id="fromEmail"/>

                <input type="hidden" id="userId" value="@Model.Id" />

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="To: email" name="toEmail" id="email"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Message:" name="Message" id="message"/>
                </div>

                <button class="btn-primary btn" id="send">Send</button>
            }
            
        
    </div>
    <div class="col-md-9" id="right-side">
        <h5>Right</h5>
    </div>
</div>
<script>
    var sendMessage = document.getElementById("send");

    
        

    sendMessage.onclick = function(){
    var message = document.getElementById("message").value;
    var toEmail = document.getElementById("email").value;
    var fromEmail = document.getElementById("fromEmail").value + "";

    $.ajax({            
            url: 'MessageCentre/SendMessage',
            data: { toEmail: toEmail, message: message, fromEmail: fromEmail }, 
        }).done(function () {
            console.log('done')
        });
    }

    window.onload = function(){
        $.ajax({
            url : 'MessageCentre/Messages',
            data : {fromEmail: document.getElementById("fromEmail").value},
            success : function(response){
                messList = response;
            }
        });
    }

    var messList = "[]";
    setInterval(function(){
        $.ajax({
            url:'MessageCentre/GetMessages',
            data : {messList: messList, fromEmail: document.getElementById("fromEmail").value},
            success : function(data){
                var val = JSON.parse(data.response);

                if(val != null && data.response != "[]"){

                    var temp = document.getElementById("right-side");
                    const h1 = document.createElement("h1");
                    const textNode = document.createTextNode(val[0].message);
                    h1.appendChild(textNode);
                    temp.appendChild(h1);
                    messList = data.oldList;

                }
            }
        });
    }, 100);
</script>