@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-3" style="background-color: aqua">
        <h5>Left</h5>
    </div>
    <div class="col-md-9">
        <h5>Right</h5>
    </div>
</div>